@using Prototyping.Ipsum
@using Prototyping.Placeholdit
@{
    ViewBag.Title = "Team Efficiency";
}

<section id="app-title-bar" class="row">
    <div class="col-sm-3">
        <h1 class="title">@ViewBag.Title</h1>
    </div>
</section>

<div class="app-wrapper">
    <!-- Menu Panel -->
    <div class="hidden-xs" style="float:left;">
        <h3>Report Range</h3>
        <p>@Html.Label("Stats from")</p>
        <p>
            <!-- Stats From Date Picker -->
            
            @(Html.Kendo().DatePicker()
                  .Name("StatsFrom")
                  .Value(new DateTime(1997, 1, 1)))
        </p>
        <p>@Html.Label("Stats to")</p>
        <p>
            <!-- Stats To Date Picker -->
            <!-- Stats To Date Picker -->
            @(Html.Kendo().DatePicker()
        .Name("StatsTo")
        .Value(new DateTime(1998, 8, 1)))
        </p>
        <nav id="employee-list">
            <h3>Team members</h3>
            <!-- Employee List View -->
            @(Html.Kendo().ListView<KendoQsBoilerplate.Employee>()//The listview data source will infer the Employee Model properties and their types
                 .Name("EmployeesList") // Name is mandatory. It specifies the "id" attribute of the widget.
                 .TagName("ul") // TagName is mandatory. It specifies the element which wraps all listview items.
                 .ClientTemplateId("EmployeeItemTemplate") // The template is mandatory and will be used for rendering the listview items.
                 .DataSource(dataSource => {
        dataSource.Read(read => read.Action("EmployeesList_Read", "Home"));
    })
    .Selectable(s => s.Mode(ListViewSelectionMode.Single))
    )
        </nav>
    </div>
    <!-- /Menu Panel -->

    <section id="main-section-content" class="row">
        <article class="col-xs-12">
            <div id="employee-details" class="row">
                <div id="employee-about" class="col-xs-12 col-lg-4">
                    <!-- Employee Avatar -->
                    @Html.Placehold(90, 90, "Face")
                    <span>Full Name </span>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="chart-wrap">
                        <h3 class="chart-title">Quarter to date sales</h3>
                        <p class="sales-report-value" id="EmployeeQuarterSalesLabel"></p>
                        <!-- QTD Sales Chart -->
                        @Html.Placehold(430, 120, "Chart")
                    </div>
                </div>
                <div class="col-xs-12 col-lg-4">
                    <div class="chart-wrap">
                        <h3 class="chart-title">Monthly Average Sales</h3>
                        <p class="sales-report-value" id="EmployeeAverageSalesLabel"></p>
                        <!-- Montly Sales Chart -->
                        @Html.Placehold(430, 120, "Chart")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Representative orders</h3>
                    <!-- Invoices -->
                    @Html.Action("Index", "Invoice")
                </div>
            </div>
        </article>
    </section>
</div>

<!-- Kendo Templates -->
<!-- /Kendo Templates -->

@section Scripts {
    <script>
        //Custom Scripts
    </script>
}